# Landslide Susceptibility Map of North Carolina

In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

## Data explorer

In [2]:
df_landslides = pd.read_csv('data/landslides.csv')
df_non_landslides = pd.read_csv('data/non-landslides.csv')

In [3]:
df_landslides.head()

,Slope,Elevation,Aspect,PL,PR,V,TWI,SPI,TRI
0,36.1675,5011.34,344.7780,-17.22330,10.191700,1,8.281640,2466.80000,0.534318
1,36.5210,4554.55,160.3770,13.94120,-13.198800,1,0.300393,0.87064,0.448263
2,23.7662,4409.65,32.7448,-2.84497,-0.729969,1,2.429630,2.24412,0.562683
3,-9999.0000,-9999.00,-9999.0000,-9999.00000,-9999.000000,1,-9999.000000,-9999.00000,-9999.000000
4,26.3401,3703.81,141.0570,-7.56331,8.946680,1,4.136980,15.94360,0.535470

In [4]:
df_landslides.head()

,Slope,Elevation,Aspect,PL,PR,V,TWI,SPI,TRI
0,36.1675,5011.34,344.7780,-17.22330,10.191700,1,8.281640,2466.80000,0.534318
1,36.5210,4554.55,160.3770,13.94120,-13.198800,1,0.300393,0.87064,0.448263
2,23.7662,4409.65,32.7448,-2.84497,-0.729969,1,2.429630,2.24412,0.562683
3,-9999.0000,-9999.00,-9999.0000,-9999.00000,-9999.000000,1,-9999.000000,-9999.00000,-9999.000000
4,26.3401,3703.81,141.0570,-7.56331,8.946680,1,4.136980,15.94360,0.535470